/* Add CSS Styling */

.odd {
  background-color: rgb(239, 108, 149);
  font-family: Verdana, "DejaVu Sans", "sans-serif";
}

#num2 {
  color: #00f;
  font-size: 36px;
}

.large-font {
  font-size: 24px;
}

#num4 {
  background-color: #71e571;
  font-size: 24px;
  font-weight: bold;
}
